.lineEffect {
    --s: 0.2em;
    /* the thickness of the line */
    --c: #0891b2;
    /* the color */
    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s;
}

.lineEffect:hover {
    --_p: 100%
}